* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
    min-width: 1300px;
}

body {
    min-width: 1300px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
    min-width: 1300px;
    flex: 1;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
}

.content::-webkit-scrollbar {
    width: 2px;
    height: 1px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #535353;
}

.top-banner-content {
    min-width: 1300px;
    height: 700px;
    background-color: rgba(29, 36, 44, 1);
    opacity: 0.6;
    position: relative;
}

.logo-navigation {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    min-width: 1300px;
    background-color: #0F141D;
    height: 80px;
}

.navigation {
    color: #fff;
    text-decoration: none;
    margin-left: 37px;
}

.active {
    color: #24DFE1;
    border-bottom: 1px solid #24DFE1;
    padding-bottom: 5px
}

.navigation-content {
    margin-left: 20%;
    font-size: 16px;
}

.banner-content {
    width: 100%
}

.swiper-container {
    width: 100%
}

.swiper-slide {
    width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.circle {
    margin-bottom: 32px;
}

.bottom-content {
    background: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daocheng-logo {
    width: 1200px
}

.daocheng-logo img {
    width: 122px
}

.middle-content ul {
    display: flex;
    font-size: 16px;
}

.middle-content ul li {
    padding-left: 20px
}

.middle-content {
    margin-top: 40px;
    width: 1200px;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px
}

.middle-content div {
    font-size: 13px;
    color: #CBCBCB;
    margin-top: 13px;
}

.middle-content div img {
    width: 20px;
}

.display-flex {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.middle-content ul li div p {
    margin-bottom: 8px;
}

.display-flex img {
    margin-right: 10px
}

.flex1 {
    flex: 1
}

.bottom-bottom-content {
    color: #CBCBCB;
    font-size: 14px;
    text-align: center;
    padding: 20px 0 30px 0
}

.bottom-icon-content {
    position: absolute;
    bottom: 50px;
    right: 20px;
    z-index: 1111111111;
    display: flex;
    flex-direction: column;
}

.kefu-content {
    background: #4BA2E5;
    border-radius: 8px;
}

.kefu-content img {
    width: 38px;
}

.gotoTop img {
    height: 14px;
}

.customer-service-content-mask {
    position: absolute;
    z-index: 55555555;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none
}

.customer-service-parent-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.customer-service-content {
    height: 70%;
    width: 60%;
    background: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.service-top {
    background: #4BA2E5
}

.service-top img {
    height: 50px;
    padding: 1% 30px;
}

.tall-detail-content {
    flex: 1;
    overflow-y: auto;
    background: #F7F7F7
}

.input-content {
    height: 150px;
    position: relative;
}

.input-content textarea {
    height: 130px;
    width: 96%;
    font-size: 17px;
    display: inline-block;
    padding: 10px 2%;
    outline: none
}

.input-content span {
    position: absolute;
    bottom: 10px;
    display: inline-block;
    padding: 8px 25px;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
}

.sendBtn {
    right: 20px;
    background: #4BA2E5;
}

.closeBtn {
    right: 131px;
    background: #B4B4B4
}

.talk-icon-content {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #24D6E1;
    border-radius: 8px;
    margin-bottom: 10px
}

.wexin-content img {
    width: 33px
}

.qq-content img {
    height: 29px;
}

.phone-content img {
    width: 27px
}

.talk-icon-content:hover {
    background: #24D6E1
}

.hover-content {
    position: absolute;
    bottom: 20px;
    right: 85px;
    z-index: 666666
}

.weChat-erweima-content {
    display: none;
    position: absolute;
    left: -120px;
    top: -20px;
}

.weChat-erweima-content img {
    width: 104px;
}

.phone-num-content {
    background: #fff;
    color: #C8373E;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    display: none;
    position: absolute;
    left: -158px
}

.bing-bottom-content {
    position: relative;
}

.ics-icon {
    background-color: #24D6E1;
    border-radius: 8px;
    background-position: center;
    bottom: 276px;
    right: 20px;
    background-size: 36px !important;
    position: fixed
}

.ics-icon:hover {
    background-color: #24D6E1
}

.email-icon {
    background-image: url('../images/emailIcon.png');
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px
}

.contactUs-icon {
    background-image: url('../images/callIcon.png');
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px
}

.display-flex-two {
    display: flex;
    margin-top: 24px
}

.introduce-icon {
    background-image: url(../images/localIcon.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px
}

.swiper-container-two {
    height: 100%;
}

/* insert */

.top-banner-bg {
    min-width: 1300px;
    background-color: rgba(29, 36, 44, 1);
    position: relative;
}

.top-banner-img {
    width: 100%;
}

.top-banner-img img {
    width: 100%;
}

.nav-list {
    position: relative;
    top: -10px;
    left: 0;
    width: 100%;
    height: 112px;
    background: rgba(36, 44, 54, 1);
}

.nav-list ul {
    display: flex;
    justify-content: center;
}

.nav-list li:nth-of-type(1) {
    color: #FEFEFE;
    width: 200px;
    height: 82px;
    padding-top: 30px;
    border: 1px solid transparent;
    border-right: 1px solid #2E3A49;
    text-align: center;
    cursor: pointer;
}

.nav-list li:not(:nth-of-type(1)) {
    color: #FEFEFE;
    width: 200px;
    height: 112px;
    line-height: 112px;
    border: 1px solid transparent;
    border-right: 1px solid #2E3A49;
    text-align: center;
    cursor: pointer;
}

.nav-list li:hover {
    border: 1px solid #24DFE1;
}

.nav-list li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: #fefefe;
    text-decoration: none;
}

.nav-list li.on {
    background: #1D242C;
}

.nav-list li.on a {
    color: #24DFE1;
}

.mid-content {
    background: #1D242C;
}

.adver {
    padding: 114px 0 0 0;
}

.adver h3 {
    width: 261px;
    height: 29px;
    font-size: 30px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.adver h3:after {
    width: 60px;
    height: 3px;
    background: rgba(36, 223, 225, 1);
    border-radius: 2px;
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 30px);
    bottom: -20px;
}

.adver .adver-list {
    display: flex;
    justify-content: center;
    margin-top: 114px;
}

.adver .adver-list .item-list {
    width: 320px;
    height: 360px;
    background: rgba(22, 22, 22, 1);
    margin-right: 16px;
    position: relative;
    cursor: pointer;
    box-shadow: transparent 0px 0px 5px;
}

.adver .adver-list .item-list:hover {
    box-shadow: #4BA2E5 0px 0px 5px;
}

.adver .adver-list .item-list .adver-detail {
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    text-align: center;
    width: 100%;
    height: 29px;
    font-size: 30px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.adver .adver-list .item-list:hover .adver-detail {
    color: #24D6E1;
}

.adver .adver-list .item-list:last-of-type {
    margin-right: 0;
}

.adver .adver-list .item-list img {
    width: 100%;
}

.smart {
    margin-top: 115px;
}

.smart h3 {
    width: 327px;
    height: 29px;
    font-size: 30px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.smart h3:after {
    width: 60px;
    height: 3px;
    background: rgba(36, 223, 225, 1);
    border-radius: 2px;
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 30px);
    bottom: -20px;
}

.smart-detail {
    width: 1139px;
    height: 54px;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(203, 203, 203, 1);
    text-align: center;
    margin: 32px auto 0;
}

.smart-img {
    text-align: center;
    margin-top: 65px;
}

.smart-img img {
    border: 1px dashed rgb(136, 136, 136);
}

.net {
    padding-top: 67px;
    margin-top: 102px;
    height: 647px;
    position: relative;
    /* background-image: url("../images/mid-banner.png");
    background-size: cover;
    background-repeat: no-repeat; */
}

.net h3 {
    width: 270px;
    height: 30px;
    font-size: 30px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.net h3:after {
    width: 100px;
    height: 3px;
    background: rgba(36, 223, 225, 1);
    border-radius: 2px;
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 50px);
    bottom: -20px;
}

.net-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.net-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
}

.net-detail {
    width: 1139px;
    height: 54px;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(203, 203, 203, 1);
    text-align: center;
    margin: 33px auto 0;
}

.net-img {
    margin-top: 60px;
    width: 1129px;
    height: 439px;
    margin: 60px auto 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.net-img div {
    position: relative;
    width: 94px;
    height: 94px;
    text-align: center;
}

.net-img p {
    width: 95px;
    height: 17px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 254, 254, 1);
    margin-top:10px;
}

.net-img div:nth-of-type(1) {
    top: calc(50% - 47px);
}

.net-img div:nth-of-type(2) {
    top: 0;
}

.net-img div:nth-of-type(3) {
    top: calc(50% + 47px);
}

.net-img div:nth-of-type(4) {
    top: calc(50% - 47px);
    left: 150px;
}

.net-img div:nth-of-type(5) {
    top: 0;
    left: 100px;
}

.net-img div:nth-of-type(6) {
    top: calc(50% + 47px);
}

.manage {
    padding: 67px 0 50px 0;
}

.manage h3 {
    width: 360px;
    height: 30px;
    font-size: 30px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.manage h3:after {
    width: 100px;
    height: 3px;
    background: rgba(36, 223, 225, 1);
    border-radius: 2px;
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 50px);
    bottom: -20px;
}

.manage-detail {
    width: 860px;
    height: 55px;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(203, 203, 203, 1);
    text-align: center;
    margin: 33px auto 0;
}

.manage-img {
    width: 1019px;
    position: relative;
    margin: 28px auto 0;
    text-align: center;
}

.manage-img img {
    width: 1019px;
    height: 1904px;
    border: 1px dashed rgb(136, 136, 136);
}

.manage-info {
    position: absolute;
    text-align: initial;
}

.manage-info.info1 {
    left: -150px;
    top: 150px;
}

.manage-info.info2 {
    right: -150px;
    top: 550px;
}

.manage-info.info3 {
    left: -150px;
    top: 1050px;
}

.manage-info.info4 {
    right: -150px;
    top: 1550px;
}

.manage-info p {
    height: 82px;
    line-height: 42px;
    font-size: 30px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(36, 221, 223, 1);
}

.manage-info ul li {
    width: 450px;
    height: 20px;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    margin-top: 23px;
    color: rgba(255, 255, 255, 1);
}

.manage-info ul li:before {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 16px;
    background: #24DDE0;
    border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: -4px;
}

.manage-info.info1 p {
    width: 539px;
}

.manage-info.info2 p {
    width: 480px;
}

.manage-info.info3 p {
    width: 450px;
}

.manage-info.info4 p {
    width: 455px;
}